@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1582353151164'); /* IE9 */
  src: url('iconfont.eot?t=1582353151164#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABsQAAAKMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBSIFZATYCJAMICwYABCAFhG0HOBsHBhHVkxVkPxJjW8T5EIeaUD7fmAmer7Xy/ek+QpCEqE4CYEhfRa0Ka9K7LgAoo2dzM3SNijBMyXnwv3xH2s0IYXwAzP/h0sbCBTI/UC5zD+oFGG8NaG+MIiuQDoBvGLvgBT6GAM6Ek4qUVdS14YjGXiWAzE1PDuNYcKHRLOqIYN9wUCNn2OFo7BtW4DT6vvwhWxzBwE5h5zVNlI9R9H3eiVNr5hp9AQT2cgaAHQMFpAIapK0x1IBCGEHhHNJEw7GyBb6TaQYa5Kj/PMQeO9MVgFDIeia2x3nUMgMAzbOPFgODkwJg5+VqY4cPnmPWX2AOn2HWnvIXXH5b8pftL150Pn/e7Xpwff2Gi9vhtbWrbRx6HRfgdm2CWdN7WbKyWnJ5H9FDesp/gMSrFnQ13+5mo0V9+qQtDj1QWlQmUCEd5hX5vXC2+tqc8YjN1+p0pGGPX5yprGdwOUUAmPfVI5X7a3/Dkz395aBH3n9HFw3A6+uPGTnM+5phFnC8AbPAj2QPbNEG11YbWmM3xgyKsbvBKmecARNs8+b9VJnfXccER/zu3eJAWAYUjsRCNTLVbYcLV8kEexwphMCZFCqPu+DDPArRTkAy2wAIntwCBu48BApPbFCNfAfs8OcfsMdTFHCmQ3wudCFe1CBKCSWjAfWHoNfFuloWcfYL3Zkl5bkR8Yd0BC/0TVeOzrggLbHluNzAbMHSWmACz2HOK2y0RtTceOZtbFvb9KZGr6USlBJKRgPqD0Gviw06s6h8/oXuzJI6muq0P6QjjA990w2AzqJlUNOjvHJcbmC2YGktMIF5mPMKW/O8iJobPyGwja3Tzg4VNdtLyt/tApyx5YY4tyjcR3VdcDlrHUhnrCo=') format('woff2'),
  url('iconfont.woff?t=1582353151164') format('woff'),
  url('iconfont.ttf?t=1582353151164') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1582353151164#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-menu-circle:before {
  content: "\e672";
}

